[submodule "rocket-chip"]
	path = rocket-chip
	url = git@github.com:ucb-art/rocket-chip.git
[submodule "fft"]
	path = fft
	url = git@github.com:ucb-art/fft.git
[submodule "pfb"]
	path = pfb
	url = git@github.com:ucb-art/pfb.git
[submodule "dsp-framework"]
	path = dsp-framework
	url = git@github.com:ucb-art/dsp-framework.git
[submodule "riscv-dma2"]
	path = riscv-dma2
	url = git@github.com:zhemao/riscv-dma2.git
[submodule "builtin-debugger"]
	path = builtin-debugger
	url = git@github.com:ucb-art/builtin-debugger.git
[submodule "sam"]
	path = sam
	url = git@github.com:ucb-art/sam.git
