[submodule "fft"]
	path = fft
	url = https://github.com/ucb-art/fft.git
[submodule "pfb"]
	path = pfb
	url = https://github.com/ucb-art/pfb.git
[submodule "dsp-framework"]
	path = dsp-framework
	url = https://github.com/ucb-art/dsp-framework.git
[submodule "riscv-dma2"]
	path = riscv-dma2
	url = https://github.com/zhemao/riscv-dma2.git
[submodule "tuner"]
	path = tuner
	url = https://github.com/ucb-art/tuner.git
[submodule "filter"]
	path = filter
	url = https://github.com/ucb-art/filter.git
